@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

/**About me Section **/
.about-me {
  padding: 32px 64px;
  position: relative;
  overflow: hidden;
}

.about-me::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0077b6;
  transform: skewY(-11deg) translateY(-29%);
  transform-origin: top;
}

.about-me .container {
  max-width: 100%;
  display: grid;
  grid-template-columns: .5fr 1fr;
}

.container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 2;
  -webkit-box-shadow: 1px 5px 10px 4px rgba(0, 0, 0, 0.34);
  box-shadow: 1px 5px 10px 4px rgba(0, 0, 0, 0.3);
}

.para-text {
  max-width: 100%;
  max-height: fit-content;
  align-self: center;
  padding: 42px 24px;
  z-index: 1;
  display: grid;
  grid-template-rows: max-content max-content max-content;
  gap: 24px;
  background-color: antiquewhite;
  -webkit-box-shadow: 1px 5px 10px 4px rgba(0, 0, 0, 0.34);
  box-shadow: 1px 5px 10px 4px rgba(0, 0, 0, 0.2);
}
.para-text h1 {
  font-family: "Playfair Display", serif;
}

.para-text p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 1.3rem;
}

.para-text .icons {
  justify-self: flex-end;
  display: flex;
  gap: 17px;
}

.para-text .icons i {
  font-size: 1.75rem;
  cursor: pointer;
}
